@model IEnumerable<_24DG112073_Be2.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">DANH SÁCH SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table bg-info">
    <tr>
        <th class="bg-success">
            Tên sản phẩm
        </th>
        <th class="bg-success">
            Đơn giá
        </th>
        <th class="bg-success">
            Hình ảnh
        </th>
        <th class="bg-success">
            Tên danh mục
        </th>
        <th class="bg-success col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ProductImage" alt="Hình ảnh sản phẩm" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                <img src="@item.ProductImage" alt="Hình ảnh sản phẩm" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                <img src="@item.ProductImage" alt="Hình ảnh sản phẩm" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>